.TodoTemplate {
  width: 512px;
  margin: 6rem auto 0 auto;
  // 모서리 둥글게
  border-radius: 10px;
  overflow: hidden;
  .app-title {
    background: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    // 가운데 정렬
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    background: white;
  }
}
